@tailwind base;
@tailwind components;
@tailwind utilities;

/* nProgress overrides */
#nprogress .bar {
  background: #ca8a04 !important;
}

.text-beige1 {
  color: #DFD0B8;
}

.text-beige2 {
  color: #948979;
}

.text-grey1 {
  color: #393E46
}

.text-grey2 {
  color: #222831;
}

.bg-beige1 {
  background-color: #DFD0B8;
}

.bg-beige2 {
  background-color: #948979;
}

.bg-grey1 {
  background-color: #393E46;
}

.bg-grey2 {
  background-color: #222831;
}